name: flutter_3d_ar_converter_example
description: Example app for flutter_3d_ar_converter package
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_3d_ar_converter_new:
    path: ../
  cupertino_icons: ^1.0.6
  permission_handler: ^11.3.1
  path_provider: ^2.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  
  assets:
    - assets/images/
