name: flutter_3d_ar_converter_new
description: "A forked Flutter package of original flutter_3d_ar_converter for converting images to 3D models with AR visualization capabilities."
version: 0.1.3
homepage: https://github.com/pratyush-talentelgia/flutter_3d_ar_converter_new

environment:
  sdk: ^3.7.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  arkit_plugin: ^1.2.1
  camera: ^0.11.3
  image_picker: ^1.0.4
  http: ^1.1.0
  path_provider: ^2.1.1
  model_viewer_plus: ^1.7.0
  google_ml_kit: ^0.20.0
  vector_math: ^2.1.4
  permission_handler: ^11.3.1
  ar_flutter_plugin_updated: ^0.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      android:
        package: com.example.flutter_3d_ar_converter
        pluginClass: Flutter3dArConverterPlugin
      ios:
        pluginClass: Flutter3dArConverterPlugin

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
